
<div class="jumbotron center">
<h2 style="color:#00008F;">Welcome to Seva Niketan, Solan</h2>
<h2 style="color:#FF6506;"> A tribute to Pujya Swamiji </h2>
<h4 style="color:blue;"> This is a trial app prepared by us - only for limited circulation </h4>
<h4 style="color:black;">Please rotate the mobile screen to see the effects </h4>
<p>
   <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>
 

</div>