<div class="jumbotron center">
<h1>About Us</h1>
<p align="left">We are alumuni of Seva Niketan. Seva Niketan is a unique institution in Solan, (Himachal Pradesh), India, where hostel facility with free boarding and lodging is provided to deserving students without any upper limit to their career. The hostel started in Feb. 2002 with the main objective of upliftment of the quality of life of people through proper education which is balanced academically, morally and spiritually. The motto of this institute is to help them to help themselves without becoming perpetually dependent on others.</p>

<p align="left">We provide high class educational care in a homely atmosphere. To ensure this to the maximum possible extent, we provide tutoring after the school hours. We regularly coached subjects with the help of smart classes. We are also provide classes in music and singing.</p>
   
 

</div>
